.banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;

    h1 {
        font-size: 82px;
        line-height: 70px;
        margin-bottom: 0;
        color: $white;
    }

    img {
        max-width: 100%;
    }

    p {
        font-size: 18px;
        line-height: 22px;
        max-width: 820px;
        margin: 0 auto;
        color: $white;
    }

    @media (max-width: 1199.98px) {
        h1 {
            font-size: 72px;
        }

        p {
            font-size: 16px;
        }
    }

    @media (max-width: 991.98px) {
        h1 {
            font-size: 62px;
            line-height: 54px;
        }

        p {
            font-size: 14px;
        }
    }

    @media (max-width: 767.98px) {
        h1 {
            font-size: 48px;
            line-height: 43px;
        }

        p {
            font-size: 13px;
        }
    }

    @media (max-width: 575px) {
        h1 {
            font-size: 42px;
            line-height: 43px;
        }
    }
}