@import url('http://fonts.cdnfonts.com/css/akira-expanded');

// Color;
$primary-color: #6366F1; 
$hover-color : #6366F1;
$secondary-color : #33CAB8;
$bColor: #333333;
$white : #ffffff;
$black : #000000;
$bgOne: #FAFAFA;
$bgTwo: #F7F7F7;
$border-color: #DADADA;


// Body;
$bodyFont: 'Akira Expanded', sans-serif;
$titleFont: 'Akira Expanded', sans-serif;
$bfSize: 16px;
$bLineHeight: 26px;
$fontWeight: 400;
$transition: all .4s linear;
